:root {
    --primary-color: #FFCA2B;
    --text-color: #999;
    --white-color: #fff;
}

.navbar {
    box-shadow: 0 0 10px var(--text-color) !important;
}

.primary-item {
    transition: linear 0.2s;
    position: relative;
    right: 0;
}

.primary-item:hover {
    color: var(--primary-color) !important;
    right: -2px;
}

.text-color-primary:hover {
    color: var(--primary-color) !important;
    transition: linear 0.3s;
}

.form-control.success input {
	border-color: #2ecc71 !important;
}

.form-control.error input {
	border-color: #e74c3c !important;
}

.input-group.flex-nowrap {
	position: relative!important;
}

small {
	color: #e74c3c;
	position: absolute!important;
	bottom: -27gpx !important;
	left: 0 !important;
	visibility: hidden !important;
}

small.error {
	visibility: visible !important;
}